@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvendio a la prueba tecnica de Alejandro Mayorga :)</h1>
    <p>Aprende mas de mi en <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
